* {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 100vw;
  z-index: 0;
}

ul {
  list-style: none;
}

.nav {
  position: fixed;
  width: 100%;
  height: 4em;
  background-image: url(../Images/geometry_1.png);
  background-repeat: no-repeat;
  background-color: #fffffff9;
  background-size: 74px;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.navlinks {
  display: block;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  background-image:
    url(/Images/mobile-menu-geometric1.svg),
    url(/Images/mobile-menu-geometric.svg),
    url(/Images/menu-dots.svg),
    url(/Images/menu-dots.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom center, top 10% right 20%, bottom 30% left 20%;
  background-size: 30%, 100%, 15%, 15%;
  z-index: 99;
  opacity: 90%;
  transition: all 750ms ease-in-out;
}

.navlinks.active {
  opacity: 100%;
  top: 0;
}

.navlinks ul {
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navlinks li {
  display: inline-block;
  position: relative;
  padding: 20px;
}

.nav-link {
  color: #1a2236;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.navlinks li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #febf52;
  display: block;
  margin: auto;
  transition: all 250ms ease-out;
}

.navlinks li:hover::after {
  width: 100%;
}

.form-msgs {
  margin-top: -30px;
  display: none;
}
  
.levels {
  display: flex;
  flex-direction: column;   
}

.mobile-menu {
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1em;
}

.mobile-menu-close {
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1em;
}

.mobile-menu-close.active {
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #1a2236;
  -webkit-transition: all 1s ease-in-out;
  transition: all 250ms ease-in-out;
}

.mobile-menu-close .bar:nth-child(1) {
  background-color: #e45865;
  transform: translateY(8px) rotate(45deg);
}

.mobile-menu-close .bar:nth-child(2) {
  opacity: 0;
}

.mobile-menu-close .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #febf52;
}

.primarysection {
  display: flex;
  flex-wrap: wrap;
}

.homewrapper,
.about-wrapper {
  width: 100%;
  margin: 1% 5%;
  padding-top: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.head-title {
  width: 100%;
}

.second-title {
  padding-left: 0.5em;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.text-desc {
  margin: auto 1.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.col-btn {
  margin: 2em 0;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  height: 50px;
  width: 300px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.col-btn img {
  width: 25px;
  height: auto;
  margin-left: 10px;
}

.col-btn:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.col-btn:active {
  border: 2px solid #1a2236;
}

.mf-image {
  margin: 2em 0;
  height: 100%;
  width: 100%;
  background-image: url(../Images/geometry_2.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: 100%;
  padding-bottom: 50%;
}

.image-desktop {
  display: none;
  width: auto;
  height: auto;
  max-height: 810px;
  max-width: 603px;
  background-image: url(../Images/geometry_desktop.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  flex: 1 1 50%;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 20px;
}

.projtitle {
  width: auto;
  grid-column: span 12;
  grid-row: span 1;
}

.deco1,
.deco2,
.deco3,
.deco4 {
  display: none;
}

.projects {
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
}

.projectsimg {
  width: 100%;
  height: auto;
}

.projects-wrapper {
  background-color: #1a2236;
  width: 100%;
}

.project-text {
  margin-bottom: 0.5em;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.project-header {
  margin-left: 20px;
}

.project-header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.project-header li {
  margin-right: 10px;
}

.small-btn {
  box-sizing: border-box;
  padding: 1px 6px;
  border: 0;
  cursor: pointer;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  text-align: center;
  color: #1a2236;
  height: 20px;
}

.small-btn:hover {
  background: #fff;
  color: #1a1a1a;
}

.small-btn:active {
  background: #98dede;
  color: #1a2236;
}

.proj-btn {
  margin: 1.25em 0 1.25em 1em;
  padding: 9px 18px 9px 9px;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.proj-btn img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.proj-btn:hover {
  background: #fff;
  color: #1a2236;
}

.proj-btn:active {
  border: 2px solid #1a2236;
}

.about {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.contain {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-bottom: 1em;
  background-image: url(../Images/languages.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 90%;
  height: 20em;
  background-color: #1c528a;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.frames {
  background-image: url(../Images/frameworks.png);
  background-color: #e2505c;
}

.skills {
  background-image: url(../Images/skills.png);
  background-color: #febf52;
}

.li-text {
  font-style: normal;
  width: 90%;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  list-style-position: inside;
}

.section-title {
  margin-top: 1.5em;
  padding-left: 2em;
  font-style: normal;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.contacts {
  background-color: #f9f9fa;
  display: flex;
  flex-wrap: wrap;
}

.topimg {
  margin: 0;
  height: 80px;
  width: 100%;
  background-image: url(../Images/geometry_1.png);
  background-repeat: no-repeat;
  background-color: #f9f9fa;
  background-position: top left;
  background-size: contain;
}

.bottomimg {
  display: none;
  margin: 0;
  height: auto;
  width: auto;
  background-image: url(../Images/geometry_side.png);
  background-repeat: no-repeat;
  background-color: #f9f9fa;
  background-position: bottom right;
  background-size: 100%;
}

.contactctn {
  width: auto;
  margin-top: 70px;
}

.contactctn form {
  margin: 1em 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.contactform input,
textarea {
  border: 0;
  box-sizing: border-box;
  width: 98%;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #1a2236;
}

.contactform ::placeholder {
  color: #7d7c84;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.contactform li {
  width: 100%;
  margin-top: 0.5em;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.contactform label {
  padding-left: 10px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
}

.footer {
  background-color: #1a2236;
  padding: 0;
  margin: 0;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 2rem;
}

.getlink {
  width: 160px;
  background-image: url(../Images/ic_link_teal.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 22px;
  margin-right: 5rem;
}

.getlink a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  text-decoration: none;
}

.socialinks {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0.5em;
  padding: 0;
}

.socialinks li {
  display: inline-block;
  padding: 0;
  width: fit-content;
  height: auto;
}

.socialinks img {
  height: 50%;
  width: auto;
}

@media screen and (min-width: 768px) {
  .nav {
    box-shadow: 0 0.5px 0 #dddfe6;
    background-image: none;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu,
  .mobile-menu-close {
    display: none;
  }

  .navlinks {
    position: relative;
    height: 60px;
    background-image: none;
    flex: 1;
    top: 0;
    opacity: 100%;
  }

  .navlinks ul {
    width: 36%;
    flex-direction: row;
    padding: 0;
    margin: auto;
  }

  .nav-link {
    font-size: 12px;
  }

  .primarysection {
    padding-top: 65px;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    height: 100vh;
  }

  .homewrapper,
  .about-wrapper {
    width: 50%;
    margin: 20px 40px;
    padding-left: 70px;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 1 50%;
  }

  .head-title {
    width: 100%;
  }

  .second-title {
    font-size: 90px;
    line-height: 90px;
    padding: 1px;
  }

  .para-text {
    width: 90%;
  }

  .text-desc {
    margin: 0;
  }

  .mf-image {
    display: none;
  }

  .image-desktop {
    display: block;
  }

  .works {
    padding-top: 120px;
  }

  .projects {
    width: auto;
    grid-column: span 3;
    grid-row: span 1;
  }

  .projtitle {
    width: auto;
    grid-column: span 6;
    grid-row: span 2;
    background-image: url(../Images/image_dots.svg);
    background-repeat: no-repeat;
    background-position: right top;
    justify-content: center;
    align-items: flex-start;
  }

  .projtitle h1 {
    position: static;
    transform: rotate(-90deg);
    text-align: center;
  }

  .projects-wrapper {
    display: none;
  }

  .mproj {
    width: auto;
    grid-column: span 4;
    grid-row: span 2;
  }

  .mproj .projects-wrapper {
    display: block;
  }

  .deco1,
  .deco2,
  .deco3,
  .deco4 {
    display: block;
    height: auto;
    width: auto;
    grid-column: span 2;
    grid-row: span 1;
    background-image: url(../Images/deco2.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: contain;
  }

  .deco2 {
    background-image: url(../Images/deco1.png);
    background-position: center;
  }

  .deco3 {
    background-image: url(../Images/deco3.png);
    grid-column: span 3;
    grid-row: span 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .deco4 {
    background-image: url(../Images/deco4.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    grid-column: span 1;
    grid-row: span 1;
    background-size: contain;
  }

  .deco5 {
    grid-column: span 1;
    background-image: url(../Images/deco5.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about {
    margin-top: 180px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .about-wrapper {
    padding: 0;
    margin: 0 0 0 60px;
    width: 40%;
  }

  .contain {
    display: inline-flex;
    width: 30%;
    margin: 30px 20px 30px 90px;
  }

  .card,
  .dots {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    flex: 1 0 50%;
  }

  .card li {
    list-style: outside;
  }

  .section-title {
    font-size: 13px;
  }

  .li-text ul {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: 200;
    line-height: 14px;
  }

  .dotted-image {
    background-image: url(../Images/image_dots.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom;
    width: auto;
    height: auto;
    flex: 1 0 50%;
  }

  .contacts {
    height: auto;
    flex-wrap: nowrap;
    margin-top: 180px;
    margin-bottom: 0;
  }

  .topimg {
    height: auto;
    background-image: url(../Images/geometry_6.png);
    background-repeat: no-repeat;
    background-color: #f9f9fa;
    background-position: top left;
    background-size: 100%;
    flex: 1 1 20%;
  }

  .bottomimg {
    display: block;
    flex: 1 1 20%;
  }

  .contactctn {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 18%;
    justify-content: center;
    align-items: center;
    flex: 1 1 60%;
  }

  .contactctn h1 {
    font-size: 70px;
    text-align: center;
  }
}
