.myh1 {
  color: #456a64;
}

.box {
  color: #ffa500;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.box1 {
  background: #1abc9c;
}

.box2 {
  background: #3498db;
}

.container {
  display: flex;
  border: 10px solid #daa520;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
}
